* {
    box-sizing: border-box;
}

.game-container {
    padding-top:  1.2vw;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a7/Atlantic_near_Faroe_Islands.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 100vw; 
    height: 100vh; 
}


.game-board-container {
    display: flex; 
    justify-content: center; 
    margin: 1vw 6.1vw 0vw 0vw;
}

.button-container {
    display: flex;
    justify-content: center; 
    gap: 15%;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 3.2vw);
    gap: 0.25vw;
    border: 0.3vw  solid black;
    padding: 0.3vw; 
}

.board-cell {
    width: 3.2vw;
    height: 3.2vw;
    border: 0.05vw solid black;
    cursor: pointer;
}

.shots-container {
    margin-top: auto; 
    margin-left: 1vw;  
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f1e4e4;
    font-size: 1.4vw;
    min-width: 14vw;
}

.message {
    margin-top: 2vw;
    font-size: 2vw;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #f1e4e4;
}

.end-game-container {
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    height: 80vh;  
}

.end-game-buttons {
    display: flex;
    justify-content: center; 
    padding: 1.5vw 0 0 1vw;
    gap: 2%; 
}

.rules-container {
    margin-right: 1vw;
    margin-top: auto; 
    border: 0.27vw solid red;
    padding: 0.25vw;
    background-color: rgb(255, 255, 255);

    font-size: 1.1vw;
    font-family: 'Times New Roman', Times, serif;
}

.rules-container p {
    color: #000000;
}

.rules-container ul {
    padding-left: 2vw;
}

.rules-container li {
    color: #ff0000;
}

.end-game-buttons button,
.button-container button {
    padding: 0.55vw 1vw;
    margin-top: 1vw;
    font-size: 1.1vw; 
    background-color: #7fbdd3;
    color: #ffffff;
    border: none;
    border-radius: 5vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold; 
}

.end-game-buttons button:hover,
.button-container button:hover {
    background-color: #0056b3;
}
