
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    background-image: url('https://static.vecteezy.com/system/resources/previews/030/683/263/large_2x/battleship-2d-cartoon-illustraton-on-white-background-high-free-photo.jpg'); 
    background-size: 43%;
    background-repeat: no-repeat;
    background-position: center 10.5vw;
    width: 100vw; 
    height: 100vh; 
}


.home-title {
    font-size: 3.2vw;
    color: #0e0d0d;
    margin-bottom: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.home-button {
    padding: 0.56vw 1.2vw;
    margin-top: 1.3vw;
    font-size: 1vw;
    font-weight: bold; 
    background-color: #7fbdd3;
    color: #ffffff;
    border: none;
    border-radius: 0.2vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #0056b3;
}

.home-button:active {
    background-color: #003f7f;
}